// Custom styles.
//修改文章中图片样式，改为居中
.posts-expand .post-body img {
	margin: 0 auto;
}

//修改文章内code样式
code {color:#c7254e;background:#f8f3f4;}

// 主页文章添加阴影效果
//.post {
 //margin-top: 0px;
 //margin-bottom: 60px;
 //padding-top: 15px;
 //padding-left: 20px;
 //padding-right: 20px;
 //-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
 //-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//}
